/* body {
  width: 100vw;
  height: 100vh;
  outline: 1px solid red;
} */
.sat-full {
  /* max-width: 50%; */
  max-height: 50%;
  padding: 0;
}
.sat-container {
  display:flex;
  justify-content: center;
  align-items:flex-start;
  gap:50px;
  flex-direction: row;
  margin: 30px;
  text-align: left;
  
}

.satinfo {
  padding:10px; 
}

.add {
  padding:5px;
  margin-left:10px;
}

.components {

  display:flex;
  padding:10px;
  flex-direction: column;
  margin:10px;


}

.sat-box{
  display:flex;
}

#reports{
  min-width:450px;
  flex-wrap: wrap;
  overflow: auto;
}


/* .box {
margin:50px;
} */


/* .sat-title {
  margin-left:10%;
} */