.sat-full {

  max-height: 50%;
  padding: 0;
}
.sat-container {
  display:flex;
  justify-content: center;
  align-items:flex-start;
  gap:50px;
  flex-direction: row;
  margin: 30px;
  text-align: left;
  
}

.satinfo {
  padding:10px; 
}

.add {
  padding:5px;
  margin-left:10px;
}

.components {
  display:flex;
  padding:10px;
  flex-direction: column;
  margin:10px;
  min-width: 420px;
  max-width: 400px;



}

.sat-box{
  display:flex;
  background-color: var(--component-color);
  color:var(--text-color);
}

.report-box {
  background-color: var(--component-color);
  color:var(--text-color);
}

.chart-box {
  background-color: var(--component-color);
  color:var(--text-color);
}
#reports{
  min-width:450px;
  height:260px;
  overflow: auto;
}

a {
  color:black;
}

.stacked {
  display:flex;
  flex-direction: column;
  gap:30px;
  
}

#return{
  font-size: small;
  text-decoration: none;
}