.list-container {
  margin: 0;
  padding: 0;
}

.list-sat {
  margin: auto;
  width: 700px;
}

.box-list {
  max-height: 700px;
  overflow: auto;
  border: 1px solid rgb(204, 204, 204);
}

.satT {
  padding: 30px 0 10px 0;
}