.reports_page {
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
  margin: 0 5% 0 5%;
}

.report_view {
  background-color: var(--component-color);
  padding: 30px;
  height: 700px;
  width: 50%;
  overflow: auto;
  border-radius: 20px;
}

li{
  margin-bottom: 10px;
}

.metric_view {
  background-color: var(--component-color);
  padding: 30px;
  border-radius: 20px;
  width: 40%;
  overflow: auto;
  height: 700px;
}

.problems_metric {
  display: flex;
  width: 100%;
}

.SATCOM_down_metric {
  display: flex
}

.report-title {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;

}