.reports_page {
  display: flex;
  justify-content: space-evenly;
}

.report_view {
  width: 40%;
}

/* .metric_view {
  display: flex
} */

/* .problems_metric {
  display: flex
} */

.SATCOM_down_metric {
  display: flex
}