* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Map {
  font-family: sans-serif;
  text-align: center;
}

.map-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.leaflet-container {
  /* display:flex; */
  margin: 50px 0 30px 0;
  height: 80vh;
  width: 95vw;
  max-width:1600px;
  max-height:745px;
  border-radius: 20px;
  border: 2px solid grey;
  z-index: 1;
}


.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.coordinate{
  /* z-index: 3; */
  /* display:flex; */
  color:var(--text-color);
  /* position: absolute; */
  /* left: 81%; */
  /* top: 53%; */
  padding:10px;
  height:140px;
  /* width:140px; */
  background-color: rgba(242,239,233,255);
  border:dashed 1px grey;
  font-size: small;
}

.legend {
  display:flex;
  /* position: absolute; */
  /* z-index: 3; */
  /* left:81%; */
  flex-direction: column;
  /* top: 70%; */
  padding: 10px;
  height: 148px;
  /* width: 140px; */
  background-color: rgba(242,239,233,255);
  justify-content: center;
  border:dashed 1px grey;
  gap:15px; 
  color:var(--text-color);
  font-size: small;
}

.marks {
  display: flex;
  font-size: small;
  line-height: 1;
  align-items: center;

}

.marks img {
  margin-right: 10px;
}

.l-title {
  margin-bottom: -15px;
}

.filter {
  /* z-index: 3; */
  color:var(--text-color);
  /* position: absolute;
  left: 12%;
  top: 25%; */
  padding:5px;
  background-color: rgba(242,239,233,255);
  border:dashed 1px grey;
  font-size: small;
   
}

.flex-r{
  z-index: 3;
  display:flex;
  flex-direction: column;
  width: 140px;
  gap:10px;
  position: absolute;
  top:45%;
  left:82%;
}