* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Map {
  font-family: sans-serif;
  text-align: center;
}


/* .cursor-info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 1000;
  pointer-events: none;
} */


.map-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.leaflet-container {
  margin:-135px 0 30px 0;
  height: 750px;
  width: 1500px;
  /* margin: 50px; */
  border-radius: 20px;
  border: 2px solid grey;
  z-index: 1;
  /* height: 300px;
  border-radius: 2rem; */
}


.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.coordinate{
  z-index: 3;
  color:var(--text-color);
  position: absolute;
  left:75%;
  top: 400px;
  padding:25px;
  height:200px;
  width:190px;
  background-color: rgba(242,239,233,255);
  border:dashed 1px grey
  
}

.legend {
  display:flex;
  position: relative;
  z-index: 3;
  left:75%;
  flex-direction: column;
  top: 550px;
  padding:25px;
  height:200px;
  width:190px;
  background-color: rgba(242,239,233,255);
  justify-content: center;
  border:dashed 1px grey;
  gap:15px; 
  color:var(--text-color);
}

.marks {
  display: flex;
  font-size: medium;
  line-height: 1;
  align-items: center;

}

.marks img {
  margin-right: 10px;
}

.l-title {
  margin-bottom: -15px;
}
/* 
.coord-box{
  border:solid 2px black;
  background-color: var(--component-color);

} */