.big-container {
    text-align: center;
    margin-top:50px;
    display:flex;
    flex-direction: column;


}

.tileDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin:15px 125px 0px 125px;
    padding:10px;
    /* border: 2px solid black; */
}

.tile {
    width: 275px;
    margin: 20px;
    color: inherit; /* Use the same color as the surrounding text */
    text-decoration: none; /* Remove underline */
}