#report-box{
  display:flex;
  width:450px;
  background-color: var(--component-color);
  color: var(--text-color);
}

#reports-side{
  display:flex;
  overflow:auto;
  width:400px;
  overflow-x: hidden;
  background-color: var(--component-color);
  color: var(--text-color);
}

#flex-report {
  display:flex;
  justify-content: center;
  height:650px;
  margin:40px auto;
  gap: 50px;

}
